{% extends 'base.html' %}
{% block title %}
    Invite Friends
{% endblock %}

{% block content %}
    <div class="ui container">
        {% for obj in qs %}
            <div class="ui segment">
                <div class="ui grid">
                    <div class="row">
                        <div class="three wide column">
                            <img class="ui small circular image" src="{{ obj.avatar.url }}">
                        </div>
                        <div class="thirteen wide column">
                            <h3>{{ obj.user }}</h3>
                            <p>{{ obj.bio }}</p>
                            <a href="{{ obj.get_absolute_url }}">
                                <button class="ui primary button w-big mb-5">See Profile</button>
                            </a>
                            <form action="{% url 'profiles:send-invitation' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value="{{ obj.pk }}">
                                <button type="submit" class="ui positive button mb-5 w-big"><i
                                        class="plus square icon"></i>Add to
                                    friends
                                </button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}