{% extends 'base.html' %}
{% block title %}
    MyInvites
{% endblock %}
{% block content %}
    <div class="ui container">
        {% if is_empty %}
            <h1>No Invitations received </h1>
        {% endif %}

        {% for obj in qs %}
            <div class="ui segment">
                <div class="ui grid">
                    <div class="row">
                        <div class="three wide column">
                            <img class="ui small circular image" src="{{ obj.avatar.url }}">
                        </div>
                        <div class="thirteen wide column">
                            <h3>{{ obj.user }}</h3>
                            <p>{{ obj.bio }}</p>
                            <br>
                            <a href="{{ obj.get_absolute_url }}">
                                <button class="ui primary button w-big mb-5">See Profile</button>
                            </a>
                            <form action="{% url 'profiles:accept-invitation' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value="{{ obj.pk }}">
                                <button type="submit" class="ui positive button mb-5 w-big"><i class="check icon"></i>Accept
                                    Invite
                                </button>

                            </form>
                            <form action="{% url 'profiles:reject-invitation' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value="{{ obj.pk }}">
                                <button type="submit" class="ui negative button mb-5 w-big"><i class="close icon"></i>Reject
                                    Invite
                                </button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}