
body {
    background: #F8F8F8 !important;

}


.nav {
    border-radius: 0px !important;
    padding: 8px 0 8px 0 !important;
    background-color: #396afc !important;


}



.mt-5 {
    margin-top: 5px !important;
}

.mymodal {
    height: 300px !important;
    top: 200px !important;
    font-size: 20px !important;
}



.mb-5 {
    margin-bottom: 5px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.w-big {
    width: 200px !important;
}

.bwhite-sm {
    background-color: transparent !important;
    width: 10px !important;
}

.bwhite-lg {
    background-color: transparent !important;
}

.comment-box {
    display: none;

}

.primary {
    background-color: #396afc !important;
}

.primary:hover {
    background-color: #7096FF !important;
}


.pop-logo {
    display: block;
    width: 160px;
    height: 70px !important;
    color: #fff;
    font-size: 30px;

    text-align: center !important;
    border: 1px solid #fff !important;
    border-radius: 100%;


}

.pop-logo h3 {
    font-family: 'Barlow', sans-serif !important;

}

